@page
@model LoginModel
 @{ Layout = "~/Views/Shared/_Layout.cshtml";
 }

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">
        <!-- Title Page-->
        <title>Login</title>
        <!-- Fontfaces CSS-->
        <link href="~/admin/css/font-face.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
        <!-- Bootstrap CSS-->
        <link href="~/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
        <!-- Vendor CSS-->
        <link href="~/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="~/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
        <!-- Main CSS-->
        <link href="~/admin/css/theme.css" rel="stylesheet" media="all">
    </head>
    <body class="animsition">
        <div class="page-wrapper">
            <div class="page-content--bge5">
                <div class="container">
                    <div class="login-wrap">
                        <div class="login-content">
                            <div class="login-logo">
                                <a href="#">
                                    <img src="~/admin/images/icon/logo.png" alt="CoolAdmin">
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <section>
                                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <hr />
                                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                                            <div class="form-group row">
                                                <div class="col-2">
                                                    <label asp-for="Input.Email" class="control-label"></label>
                                                </div>
                                                <div class="col-7">
                                                    <input asp-for="Input.Email" class="form-control" />
                                                </div>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-2">
                                                    <label asp-for="Input.Password" class="control-label"></label>
                                                </div>
                                                <div class="col-7">
                                                    <input asp-for="Input.Password" class="form-control" />
                                                </div>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label asp-for="Input.RememberMe">
                                                        <input asp-for="Input.RememberMe" />
                                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="au-btn au-btn--block au-btn--green m-b-20">Giriş Yap</button>
                                            </div>
                                            <div class="form-group">
                                                <p>
                                                    <a id="forgot-password" asp-page="./ForgotPassword">Şifreni mi Unuttun?</a>
                                                </p>
                                                <p>
                                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Üye Ol</a>
                                                </p>
                                            </div>
                                        </form>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jquery JS-->
        <script src="~/admin/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/admin/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
        <!-- Vendor JS       -->
        <script src="~/admin/vendor/slick/slick.min.js"></script>
        <script src="~/admin/vendor/wow/wow.min.js"></script>
        <script src="~/vendor/animsition/animsition.min.js"></script>
        <script src="~/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <script src="~/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/admin/vendor/counter-up/jquery.counterup.min.js"></script>
        <script src="~/admin/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/vendor/select2/select2.min.js"></script>
        <!-- Main JS-->
        <script src="~/admin/js/main.js"></script>
    </body>
</html>
<!-- end document-->
@*@{
            ViewData["Title"] = "Üye Girişi";
        }

        <br />
        <br />
        <div class="container">
            <h4>@ViewData["Title"]</h4>


            <div class="row">
                <div class="col-md-12">
                    <section>
                        <form id="account" method="post">

                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="Input.Email" class="control-label"></label>
                                </div>
                                <div class="col-3">
                                    <input asp-for="Input.Email" class="form-control" />
                                </div>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group row">
                                <div class="col-2">
                                    <label asp-for="Input.Password" class="control-label"></label>
                                </div>
                                <div class="col-3">
                                    <input asp-for="Input.Password" class="form-control" />
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                            </div>
                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Şifreni mi Unuttun?</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Üye Ol</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
                @*<div class="col-md-6 col-md-offset-2">
                        <section>
                            <h4>Use another service to log in.</h4>
                            <hr />
                            @{
                                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                {
                                    <div>
                                        <p>
                                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                            for details on setting up this ASP.NET application to support logging in via external services.
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                        <div>
                                            <p>
                                                @foreach (var provider in Model.ExternalLogins)
                                                {
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                }
                                            </p>
                                        </div>
                                    </form>
                                }
                            }
                        </section>
                    </div>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
